.sous-titre{
    color : white;
    font-size: var(--taille-sous-titre);
    background-color : var(--rouge2);
    width : 100%;
    height : 50px;
    text-align: center;
    line-height: 50px;
    font-weight : 300;
}