table  {
    position: relative;
    margin-bottom: 15px;
}

th {
    font-weight: 700;
    color: var(--gris1);
    text-align: left;
    padding-right: 15px;
}

tr:nth-child(odd){
    background-color : #d0cfd6;
}

td {
    position: relative;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.vert:before,
.jaune:before,
.rouge:before {
    content: "";
    width: 6px;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0;
}

.vert:before {
    background-color: green;
}

.jaune:before {
    background-color: orange;
}

.rouge:before {
    background-color: red;
}

table tr:last-child td:nth-child(1):after{
    position: absolute;
    content: "";
    top: 100%;
    left: 0px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 3px 0 3px;
}

table tr:last-child td.vert:nth-child(1):after{
    border-color: green transparent transparent transparent;
}

table tr:last-child td.rouge:nth-child(1):after{
    border-color: red transparent transparent transparent;
}

table tr:last-child td.jaune:nth-child(1):after{
    border-color: orange transparent transparent transparent;
}

form {
    padding-top: 15px;
}

.box-button {
    text-align: center;
}

mat-form-field {
    width: 100%;
}