<table>
  <th>Date</th>
  <th>Heure</th>
  <th>Description</th>
  <th>Insertion</th>
  <tr *ngFor="let ligne of timeline; let index = index;">
    <td [ngClass]="{'vert':ligne.etat==0, 'jaune':ligne.etat==1, 'rouge':ligne.etat==2}">{{ligne.date}}</td>
    <td>{{ligne.heure}}</td>
    <td>{{ligne.description}}</td>
    <td>
      <button mat-button [matMenuTriggerFor]="menu"><mat-icon>remove</mat-icon></button>
      <mat-menu #menu="matMenu">
        <button (click)="ajouterEntree(-1, index);" mat-menu-item>Insérer au-dessus</button>
        <button (click)="ajouterEntree(1, index);" mat-menu-item>Insérer au-dessous</button>
        <button (click)="supprimer(index)" mat-menu-item>Supprimer</button>
      </mat-menu>
    </td>
  </tr>
</table>

<form *ngIf="showForm">
  <app-sous-sous-titre>Ajouter une entrée</app-sous-sous-titre>
  <mat-form-field class="full-width">
    <input matInput placeholder="Date" [(ngModel)]="nouvelleLigne.date" name="date" type="text">
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput placeholder="Heure" [(ngModel)]="nouvelleLigne.heure" name="heure" type="text">
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput placeholder="Description" [(ngModel)]="nouvelleLigne.description" name="description" type="text">
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Etat" name="etat" id="etat" [(ngModel)]="nouvelleLigne.etat">
      <mat-option value=0>Bon</mat-option>
      <mat-option value=1>Moyen</mat-option>
      <mat-option value=2>Mauvais</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-button color="accent" type="button" (click)="submitEntree()"><mat-icon>check</mat-icon> Valider</button>
  <button mat-button color="warn" type="button" (click)="annulerEntree()"><mat-icon>cancel</mat-icon> Annuler</button>
</form>

<div class="box-button">
  <button *ngIf="!showForm" mat-raised-button color="primary" (click)="ajouterEntree(0);">Ajouter une entrée</button>
</div>